In [8]:
### Import Libraries

import pandas as pd
import random

In [6]:
### Helper Functions

In [26]:
### Generate Bar Chart Data

#####
# Inputs: (num_bars, min_val, max_val, xtitle, ytitle, name, integer=True)
#
# num_bars: array, length of 2-20
# min_val, max_val: float, 0-inf (non-inclusive)
# integer: True for integer or False for float; defaults to True
# xtitle, ytitle: title of the columns
#####

def gen_bar_data(bars, min_val, max_val, xtitle, ytitle, integer=True, strict=False):
    if len(bars) < 2 or len(bars) > 20 or min_val > max_val or min_val <= 0:
        return
    vals = []
    count = len(bars)
    if strict:
        vals = [min_val, max_val]
        count = count - 2
    for i in range(count):
        n = 0
        if integer:
            n = random.randint(min_val, max_val)
        else:
            n = random.random() * (max_val-min_val) + min_val
        vals.append(n)
    return pd.DataFrame({xtitle: bars, ytitle: vals})

def gen_bar_data_n(num_bars, min_val, max_val, xtitle, ytitle, integer=True, strict=False):
    if num_bars < 2 or num_bars > 20:
        return
    
    return gen_bar_data(range(1,num_bars+1), min_val, max_val, xtitle, ytitle, integer, strict)

In [28]:
gen_bar_data_n(10, 1, 255, "#", "Levels")

    #  Levels
0   1      55
1   2     104
2   3     210
3   4     198
4   5     167
5   6     220
6   7     245
7   8      30
8   9      25
9  10     143